/* Erpnext eBay custom CSS */

/* Slideshow dialog styling */
.ugs-slideshow-modal {
    padding-right: 0 !important;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    overscroll-behavior-y: contain;
}

.ugs-slideshow-modal::-webkit-scrollbar {
    /* Hide scrollbar of the modal on Chrome */
    display: none;
    width: 0;
    height: 0;
    background: transparent;
}

.ugs-slideshow-modal > .modal-backdrop {
    /* Force a scrolling region so we can contain the overscroll */
    height: 101vh !important;
    position: absolute;
}

.ugs-slideshow-dialog {
    /* Modal takes up most of the screen */
    width: 95vw;
    height: calc(100vh - 20px);
}

@media (min-width: 768px) {
    .ugs-slideshow-dialog {
        /* Margins are larger on larger screens */
        height: calc(100vh - 60px);
    }
}

.ugs-slideshow-dialog > .modal-content {
    /* Flex container for modal */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ugs-slideshow-dialog > .modal-content > .modal-header {
    /* Header bar */
    flex: 0 0 auto;
}

.ugs-slideshow-dialog > .modal-content > .modal-body {
    /* Body of modal; itself a scrolling flex container */
    flex: 0 1 auto;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

.ugs-slideshow-extra-message {
    flex: 1;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Zoom slider */
.ugs-slideshow-zoom-slider {
    opacity: 0.7;
    transition: opacity 0.2s;
}

.ugs-slideshow-zoom-slider:hover {
    opacity: 1.0;
}

/* Slideshow entries */
.ugs-slideshow-entries {
    /* Container for slideshow image entries */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: -40px 0 40px -40px;
}

.ugs-slideshow-entry {
    /* Slideshow entry element */
    position: relative;
    margin-top: 40px;
    padding-left: 40px;
}

.ugs-slideshow-entry > img {
    /* Make image fit in box, and add move cursor. Use content-box sizing. */
    box-sizing: content-box;
    object-fit: contain;
    cursor: move;
    border: 1px solid #36414c;
}

.ugs-slideshow-entry.entry-drag > img {
    /* Reduce opacity of image, and dash border, when entry is being dragged */
    opacity: 0.3;
    border: 1px dashed #36414c;
}

.ugs-slideshow-entry-drag-target {
    /* Drag target */
    display: none;
    position: absolute;
    top: 0;
    left: -5px;
    height: 100%;
    width: 5px;
    background-color: #36414c;
}

.drag-over > .ugs-slideshow-entry-drag-target {
    /* Show the drag target when the entry has been dragged over */
    display: block;
}

.ugs-slideshow-entry-arrow-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    width: calc(100% - 40px);
    text-align: center;
    font-size: 80px;
    opacity: 0.5;
    color: white;
}

.ugs-slideshow-entry-icon-box {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: rgba(221, 221, 221, 0.7);
    padding: 4px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.2s;
}

.ugs-slideshow-entry:hover > .ugs-slideshow-entry-icon-box {
    opacity: 1;
}

.ugs-slideshow-entry.entry-drag > .ugs-slideshow-entry-icon-box {
    display: none;
}

.ugs-slideshow-entry-icon-box > i {
    color: #36414c;
    font-size: 24px;
    display: block;
    margin-bottom: 4px;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.ugs-slideshow-entry-icon-box > .fa-trash {
    color: #cc0000;
}

.ugs-slideshow-entry-icon-box > i:hover {
    opacity: 1.0
}

.ugs-slideshow-entry-icon-box > i:last-child {
    margin-bottom: 0;
}

.ugs-slideshow-top-pick > div > .ugs-slideshow-entry-icon-box,
.ugs-slideshow-top-pick > div > .ugs-slideshow-entry-arrow-box,
.drag-active > div > .ugs-slideshow-entry-icon-box,
.drag-active > div > .ugs-slideshow-entry-arrow-box {
    /* Hide icon and arrow boxes in 'select top pick' and 'drag-active' mode */
    display: none;
}

.ugs-slideshow-entry.direction-1 > div > i.fa-rotate-left,
.ugs-slideshow-entry.direction-1 > div > i.fa-rotate-right,
.ugs-slideshow-entry.direction-2 > div > i.fa-rotate-left,
.ugs-slideshow-entry.direction-2 > div > i.fa-rotate-right,
.ugs-slideshow-entry.direction-3 > div > i.fa-rotate-left,
.ugs-slideshow-entry.direction-3 > div > i.fa-rotate-right {
    /* Rotation handles blue when a rotation has occurred */
    color: #000bbb;
}

/* Box shadow to indicate current 'top picks' in normal and 'top pick' modes */
.ugs-slideshow-normal > .ugs-slideshow-entry-top > img {
    box-shadow: 0 0 10px 10px #86b817;
}

.ugs-slideshow-top-pick > .ugs-slideshow-entry-top > img {
    box-shadow: 0 0 4px 4px #ffa00a;
}

/* Box shadow for selecting 'top picks' */
.ugs-slideshow-entry-top-pick-shadow-box {
    /* Box for selecting 'top pick' shadow boxes */
    pointer-events: none;
    position: absolute;
    left: 40px;
    top: 0px;
    width: calc(100% - 40px);
    height: 100%;
    display: none;
    box-shadow: 0 0 10px 10px #8bd346;
    opacity: 0;
    transition: opacity 0.2s;
}

.ugs-slideshow-top-pick > div > .ugs-slideshow-entry-top-pick-shadow-box {
    /* Only displayed when in 'top pick' mode */
    display: block;
}

.ugs-slideshow-top-pick > .selected-pick > .ugs-slideshow-entry-top-pick-shadow-box {
    /* Display box shadow */
    opacity: 0.5;
}

/* Styling for 'number of ebay images' bar and selector */
.ugs-n-ebay-images {
    margin-left: 10px;
}

.ugs-n-ebay-images-span {
    float: left;
    width: 30px;
    height: 30px;
    margin-left: -1px;
    font-size: 12px;
    line-height: 29px;
    text-align: center;
    border: 1px solid #ddd;
    transition: 0.2s;
    cursor: pointer;
}

.ugs-n-ebay-images-span:hover {
    color: #161b1f;
    background-color: #eee;
    border-color: #ddd;
}

.ugs-n-ebay-images-span.active {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #5e64ff;
    border-color: #5e64ff;
}

.ugs-n-ebay-images-span.disabled {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.ugs-n-ebay-images-span.active.disabled {
    background-color: #f0f4f7;
}

.ugs-n-ebay-images-span.disabled.selected-pick {
    /* selected-pick will always exist with disabled */
    background-color: #98d85b;
    border-color: #8bd346;
}
