/* Erpnext eBay custom CSS */

.ugs-slideshow-modal {
    padding-right: 0 !important;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    overscroll-behavior-y: contain;
}

.ugs-slideshow-modal::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
}

.ugs-slideshow-modal > .modal-backdrop {
    height: 101vh !important;
    position: absolute;
}

.ugs-slideshow-dialog {
    width: 95vw;
}

.ugs-slideshow-dialog {
    height: calc(100vh - 20px);
}

@media (min-width: 768px) {
    .ugs-slideshow-dialog {
        height: calc(100vh - 60px);
    }
}

.ugs-slideshow-dialog > .modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ugs-slideshow-dialog > .modal-content > .modal-header {
    flex: 0 0 auto;
}

.ugs-slideshow-dialog > .modal-content > .modal-body {
    flex: 0 1 auto;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

.ugs-slideshow-extra-message {
    flex: 1;
    font-size: 16px;
    margin-bottom: 20px;
}

.ugs-slideshow-zoom-slider {
    opacity: 0.7;
    transition: opacity 0.2s;
}

.ugs-slideshow-zoom-slider:hover {
    opacity: 1.0;
}

.ugs-slideshow-entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: -40px 0 40px -40px;
}

.ugs-slideshow-entry {
    position: relative;
    margin: 40px 0 0 40px;
    border: 1px solid #36414c;
}

.ugs-slideshow-entry > img {
    object-fit: contain;
}

.ugs-slideshow-entry-arrow-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 80px;
    opacity: 0.5;
    color: white;
}

.ugs-slideshow-entry-icon-box {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: rgba(221, 221, 221, 0.7);
    padding: 4px;
    border-radius: 4px;
}

.ugs-slideshow-entry-icon-box > i {
    color: #36414c;
    font-size: 24px;
    display: block;
    margin-bottom: 4px;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.ugs-slideshow-entry-icon-box > .fa-trash {
    color: #cc0000;
}

.ugs-slideshow-entry-icon-box > i:hover {
    opacity: 1.0
}

.ugs-slideshow-entry-icon-box > i:last-child {
    margin-bottom: 0;
}

.ugs-slideshow-top-pick > div > .ugs-slideshow-entry-icon-box,
.ugs-slideshow-top-pick > div > .ugs-slideshow-entry-arrow-box {
    display: none;
}

.ugs-slideshow-entry.direction-1 > div > i.fa-rotate-left,
.ugs-slideshow-entry.direction-1 > div > i.fa-rotate-right,
.ugs-slideshow-entry.direction-2 > div > i.fa-rotate-left,
.ugs-slideshow-entry.direction-2 > div > i.fa-rotate-right,
.ugs-slideshow-entry.direction-3 > div > i.fa-rotate-left,
.ugs-slideshow-entry.direction-3 > div > i.fa-rotate-right {
    color: #000bbb;
}

.ugs-slideshow-normal > .ugs-slideshow-entry-top > img {
    box-shadow: 0 0 10px 10px #86b817;
}

.ugs-slideshow-top-pick > .ugs-slideshow-entry-top > img {
    box-shadow: 0 0 4px 4px #ffa00a;
}

.ugs-slideshow-top-pick > .selected-pick {
    box-shadow: 0 0 10px 10px #8bd346;
}

.ugs-n-ebay-images {
    margin-left: 10px;
}

.ugs-n-ebay-images-span {
    float: left;
    width: 30px;
    height: 30px;
    margin-left: -1px;
    font-size: 12px;
    line-height: 29px;
    text-align: center;
    border: 1px solid #ddd;
    transition: 0.2s;
    cursor: pointer;
}

.ugs-n-ebay-images-span:hover {
    color: #161b1f;
    background-color: #eee;
    border-color: #ddd;
}

.ugs-n-ebay-images-span.active {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #5e64ff;
    border-color: #5e64ff;
}

.ugs-n-ebay-images-span.disabled {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.ugs-n-ebay-images-span.active.disabled {
    background-color: #f0f4f7;
}

.ugs-n-ebay-images-span.disabled.selected-pick {
    /* selected-pick will always exist with disabled */
    background-color: #98d85b;
    border-color: #8bd346;
}
